.submit-button{
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 5px;
}
.submit-button:hover{
    background-color: #4CAF50;
    border-color: #4CAF50;
    border-color: none;
}

.content{
    text-align: center;
}

body{
    background-color: grey;
}

.head-text{
    font-style: italic;
}